<h1>Bienvenido a la pagina inicial demo</h1>
<p>Esta página fué desarrollada para seguir un <a href="http://www.baserails.com">curso</a> para aprender a programar en ruby on rails. Inscríbase y comience a aprender hoy mismo.</p>
